*{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
}

.main_container{
    display:flex;
    justify-content: space-around;
    /* text-align: center; */
}

.logo{
    width:550px;
    height:680px;
    margin:200px 0 100px 50px;
    padding:10px;
}

.contactus_form{
     display:block;
}

.header{
    font-size: 60px;
    color:black;
    margin:240px 100px 40px 0px;
    padding:10px;
}

.fdiv{
     display:block;
}

label{
     display:block;
     font-size: 20px;
     color:black;
     margin:10px 0px 05px 0px;
     padding:10px;

}

input{
    border:1px solid green;
    border-radius: 8px;
    width:350px;
    height:50px;
    margin:05px 0px 0px 0px;
    padding:05px;
}

.btn{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color:aliceblue;
    width:270px;
    height:50px;
    margin:55px 0px 0px 50px;
    padding:05px;

}

.contactus2{
    display:block;

}

.contact{
    font-size: 25px;
    margin:370px 100px 0px 0px;
    padding:10px;
}

.p1{
     font-size: 18px;
      margin:0px 0px 0px 5px;
    padding:5px;
     
}

.basedIn{
    font-size: 25px;
    margin:60px 100px 0px 0px;
    padding:10px;

}

.p2{
     font-size: 18px;
      margin:0px 0px 0px 5px;
    padding:5px;

}

.p3{
     font-size: 18px;
      margin:0px 0px 0px 5px;
    padding:5px;

}

.social_icons{
    display: flex;
   justify-content: space-between;
  
}

.fb{
    width:270px;
    height:50px;

}

.insta{
    
}








